body {
    background-color: #FAFAFA;
}

img {
    width: 30%;
}

h1 {
    font-family: "Dry Brush";
    font-size: 40px;
}

h4 {
    font-family: "DIN Pro";
    font-size: 25px;
}

.mockup {
    display: flex;
}

.mockup__presentation {
    
}

.presentation {
    background-color: #281D70;
    color: #FFFFFF;
}